{% extends 'base.html.twig' %}

{% block title %}Canticum Novum | {{'about'|trans}}{% endblock %}
{% block body %}
	{% block stylesheets %}
		<style>
			/* Style the tab */
			.tab {
				overflow: hidden;
				border: 1px solid #ccc;
				background-color: #f1f1f1;
			}

			/* Style the buttons inside the tab */
			.tab button {
				background-color: inherit;
				float: left;
				border: none;
				outline: none;
				cursor: pointer;
				padding: 14px 16px;
				transition: 0.3s;
				font-size: 17px;
			}

			/* Change background color of buttons on hover */
			.tab button:hover {
				background-color: #ddd;
			}

			/* Create an active/current tablink class */
			.tab button.active {
				background-color: #ccc;
			}

			/* Style the tab content */
			.tabcontent {
				display: none;
				padding: 6px 12px;
				border: 1px solid #ccc;
				border-top: none;
				background-color: #ffffff;
			}
		</style>
	{% endblock %}
	<!--Header-->
	{% include 'header.html.twig' %}


	<div class="tab">
		<button class="tablinks" onclick="openCity(event, 'Canticum')">{{'about_canticum'|trans}}</button>
		<button class="tablinks" onclick="openCity(event, 'Conductor')">{{'conductor'|trans}}</button>
		<button class="tablinks" onclick="openCity(event, 'Management')">{{'management'|trans}}</button>
	</div>

	<div id="Canticum" class="tabcontent">
		<div id="main">
			<div id="content" class="container">
				<br></br>
				<header style="text-align: center; margin-bottom: 10em">
					<h2>{{'about_canticum'|trans}}</h2>
				</header>
				<div class="row" style="margin: auto">
					<section class="4u">
						<div class="container" style="margin: auto">
							{{'canticum_description'|trans|raw}}
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div id="Conductor" class="tabcontent">
		<div id="main">
			<div id="content" class="container">
				<br></br>
				<header style="text-align: center; margin-bottom: 10em">
					<h2>{{'conductor'|trans}}</h2>
				</header>
				<div class="row" style="margin: auto">
					<section class="4u">
						<div class="container" style="margin: auto">
							<img src="images/management/yolanda.jpg" height="300" width="300" alt="Yolanda Botha"/>
							<header>
								<h3>Yolanda Botha | {{'conductor'|trans}}</h3>
							</header>
								{{'yolanda_description'|trans|raw}}
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div id="Management" class="tabcontent">
		<div id="main">
			<div id="content" class="container">
				<br></br>
				<header style="text-align: center; margin-bottom: 10em">
					<h2>{{'management'|trans}}</h2>
				</header>
				<div class="row" >
					<section class="4u" >
						<img src="images/management/jacques.jpg" height="300" width="300" alt="Jacques Piek"/>
						<header>
							<h3>Jacques Piek | {{'chairperson'|trans}}</h3>
						</header>
							{{'jacques_description'|trans|raw}}
					</section>
					<section class="4u" >
						<img src="images/management/adriaan.jpg" height="300" width="300" alt="Adriaan Lategan"/>
						<header>
							<h3>Adriaan Lategan | {{'vice_chair'|trans}}</h3>
						</header>
							{{'adriaan_description'|trans|raw}}
					</section>
					<section class="4u" >
						<img src="images/management/klara_lia.jpg" height="300" width="300" alt="Klara-Lia van der Bijl"/>
						<header>
							<h3>Klara-Lia van der Bijl | {{'secretary'|trans}}</h3>
						</header>
							{{'klara_lia_description'|trans|raw}}
					</section>
				</div>
				<div class="row" >
					<section class="4u" >
						<img src="images/management/maritha.jpg" height="300" width="300" alt="Maritha van Loggerenberg"/>
						<header>
							<h3>Maritha van Loggerenberg | {{'treasurer'|trans}}</h3>
						</header>
							{{'maritha_description'|trans|raw}}
					</section>
					<section class="4u" >
						<img src="images/management/amor.jpg" height="300" width="300" alt="Amor Brink"/>
						<header>
							<h3>Amor Brink | {{'social_coordinator'|trans}}</h3>
						</header>
							{{ 'amor_description'|trans|raw }}
					</section>
					<section class="4u" >
						<img src="images/management/juergen.jpg" height="300" width="300" alt="J&uuml;rgen Loff"/>
						<header>
							<h3>J&uuml;rgen Loff | {{'head_of_marketing'|trans}}</h3>
						</header>
							{{'juergen_description'|trans|raw}}
					</section>
				</div>
				<div class="row">
					<section class="4u" >
						<img src="images/management/conway.jpg" height="300" width="300" alt="Conway Boezak"/>
						<header>
							<h3>Conway Boezak | {{'archivist'|trans}}</h3>
						</header>
							{{'conway_description'|trans|raw}}
					</section>
				</div>
			</div>
		</div>
	</div>





	<!--Footer-->
	{% include 'footer.html.twig' %}
	{% block javascript %}
		<script type="text/javascript" >
			function openCity(evt, cityName) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablinks");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				}
				document.getElementById(cityName).style.display = "block";
				evt.currentTarget.className += " active";
			}
			
			document.readyState(openCity(event, 'Canticum'));
		</script>
	{% endblock %}
{% endblock %}