<html>
	{% block head %}
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
  </head>
	{% endblock %}
	{% block body %}
		<body>
<h3>Hi {{name}},</h3>
<p>
	Thank you for contacting <strong>Canticum Novum</strong>. We will get back
	to you as soon as possible.
</p>
<p>
	Kind regards,<br></br>
	<strong>Team Canticum</strong>
</p>

<hr />
<a href="http://www.canticumnovum.org.za/">
<img
        moz-do-not-send="false"
		src="http://www.canticumnovum.org.za/images/email_footer.jpg"
		title="http://www.canticumnovum.org.za" alt="Canticum Novum"
        width="420" height="90" border="0"></a>
</body>
	{% endblock %}
</html>
