{% extends 'base.html.twig' %}

{% block title %}Canticum Novum | Contact{% endblock %}
{% block body %}
	<!--Header-->
	{% include 'header.html.twig' %}

	<!--Main-->
	<div id="main">
		<div id="content" class="container">
			<section>
				<header><h2>{% include 'default/message.html.twig' %}</h2></header>
				<br></br>
				<br></br>
				<header><h2>{{'contact.info'|trans}}</h2></header>
				
				{{'email'|trans}}: <a href="mailto:canticumnovumstb@gmail.com">canticumnovumstb@gmail.com</a>
							
			</section>
			<section>
				<header><h2>{{'contact_us'|trans}}</h2></header></br>
				<form id="contact_form" method="POST" action="{{path('sendmail')}}" style="margin: auto">
					<label for="name" >{{'name'|trans}}</label></br>
					<input id="name" name="name" type="text" value="" required="true" size="50" style="width: 50%"/></br>
					<label for="lastname">{{'lastname'|trans}}</label></br>
					<input id="lastname" name="lastname" type="text" value="" required="true" size="50" style="width: 50%"/></br>
					<label for="phone">{{'phone'|trans}}</label></br>
					<input id="phone" name="phone" type="tel" value="" size="50" style="width: 50%"/></br>
					<label for="email">{{'email'|trans}}</label></br>
					<input id="email" name="email" type="email" value="" required="true" size="50" style="width: 50%"/></br>
					<label for="message">{{'message'|trans}}</label></br>
					<textarea id="message" name="message" rows="10" cols="50" value="" size="500" style="width: 50%"></textarea></br>
					<input class="button" type="submit" id="submit" name="submit" value="{{'submit'|trans}}"/>
					<input class="button" type="reset" id="reset" name="reset" value="{{'reset'|trans}}"/></br>
				</form>
			</section>
		</div>
	</div>

	<!--Footer-->
	{% include 'footer.html.twig' %}
{% endblock %}