<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="{{path('home')}}">{{'home'|trans}}</a></li>
						<li><a href="{{path('about')}}">{{'about'|trans}}</a></li>
						<li><a href="{{path('contact')}}">{{'contact'|trans}}</a></li>
						<li>
							<a href="#" onclick="langDropdown();" ><i class="fa fa-globe" ></i><i class="fa fa-caret-down" ></i></a>
							<div id="langDropdown" style="display: none; position: absolute; font-size: 16px; background-color: rgba(0,0,0,0.5);" >
							<ul style="width: 100%">
								{% for locale in {0:{'code':'en','name':'English'},1:{'code':'afr','name':'Afrikaans'}} %}
									<li {% if app.request.locale == locale.code %}
											aria-checked="true" class="active"
										{% else %}
											aria-checked="false"
										{% endif %}
										role="menuitem">
											<a href="{{ path(app.request.get('_route', 'home'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a>
									</li>
								{% endfor %}
							</ul>
								</div>
						</li>
						{#<li><a href="/news">News</a></li>#}
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="/">Canticum Novum</a></h1>
					<span class="tag">Cantate Domino</span>
				</div>
			</div>
		</div>
	<!-- Header --> 
